.container {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
}

.header {
    display: flex;
    color: white;
    margin: 0 150px 0 150px;
}

.header h1 {
    display: flex;
    flex: 1;
}

.header-right {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    gap: 20px;
    list-style: none;
}

.banner {
    display: flex;
    margin-bottom: 30px;
    margin: 0 150px 75px 150px;
    color: white;
    gap: 30px;
}

.banner-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.banner-left-head {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
}

.banner-button {
    border-radius: 10px;
}

.banner-button button{
    background-color: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 75px;
}

.info-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.info-text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    background-color: #E5E7EB;
    padding-top: 75px;
    padding-bottom: 75px;
    color: black;
}

.quote-text {
    font-size: 25px;
    width: 500px;
    font-style: italic;
}

.quote-author {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

.signup {
    width: 700px;
    margin: auto;
    margin-bottom: 75px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.signup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 80px;
    border-radius: 10px;
}

.signup-box-left {
    display: flex;
    flex-direction: column;
}

.signup-box-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box-right button {
    width: 60px;
    font-size: 12px;
}

.signup-header {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}